### A

In [1]:
X <- c(1,2,3,1,4,5,2)
Y <- c(0,3,2,0,5,9,3)

#### Crea un dataframe a partir de los vectores anteriores

In [5]:
df <- data.frame(X, Y)
df

  X Y
1 1 0
2 2 3
3 3 2
4 1 0
5 4 5
6 5 9
7 2 3

#### Elimina los duplicados usando una función de R adecuada

In [7]:
df <- unique(df)
df

  X Y
1 1 0
2 2 3
3 3 2
5 4 5
6 5 9

#### Pon nombre a las filas con nombres "CA","SE","MA","BA","VA"

In [8]:
rownames(df) <- c("CA", "SE", "MA", "BA", "VA")
df

   X Y
CA 1 0
SE 2 3
MA 3 2
BA 4 5
VA 5 9

#### Crea una nueva columna Z que sea la suma de las dos primeras dividida por la primera

In [9]:
df$Z <- (df$X + df$Y) / df$X
df

   X Y Z
CA 1 0 1.000000
SE 2 3 2.500000
MA 3 2 1.666667
BA 4 5 2.250000
VA 5 9 2.800000

#### Cambia el valor X de la provincia BA por 2

In [36]:
df['BA', 'X'] <- 2
df

   X Y Z
CA 1 0 1.000000
SE 2 3 2.500000
MA 3 2 1.666667
BA 2 5 2.250000
VA 5 9 2.800000

#### Selecciona aquellas provincias cuyo valor Y sea menor que 4

In [48]:
row.names(df[df$Y < 4,])

[1] "CA" "SE" "MA"

#### Crea un factor que indique si es costera o no la ciudad (C o I) y añádelo como columna

In [49]:
df$cost <- factor(c("C","I","I","C","C"))
df

   X Y Z        cost
CA 1 0 1.000000 C
SE 2 3 2.500000 I
MA 3 2 1.666667 I
BA 2 5 2.250000 C
VA 5 9 2.800000 C