### B

#### Carga el dataset en la url http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data indicando que los valores faltantes son "?"

In [23]:
url <- "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df <- read.csv(url, na.strings="?", header=FALSE)
head(df)

  V1 V2  V3          V4  V5  V6   V7          V8  V9    V10  ⋯ V17 V18  V19
1 3   NA alfa-romero gas std two  convertible rwd front 88.6 ⋯ 130 mpfi 3.47
2 3   NA alfa-romero gas std two  convertible rwd front 88.6 ⋯ 130 mpfi 3.47
3 1   NA alfa-romero gas std two  hatchback   rwd front 94.5 ⋯ 152 mpfi 2.68
4 2  164 audi        gas std four sedan       fwd front 99.8 ⋯ 109 mpfi 3.19
5 2  164 audi        gas std four sedan       4wd front 99.4 ⋯ 136 mpfi 3.19
6 2   NA audi        gas std two  sedan       fwd front 99.8 ⋯ 136 mpfi 3.19
  V20  V21  V22 V23  V24 V25 V26
1 2.68  9.0 111 5000 21  27  13495
2 2.68  9.0 111 5000 21  27  16500
3 3.47  9.0 154 5000 19  26  16500
4 3.40 10.0 102 5500 24  30  13950
5 3.40  8.0 115 5500 18  22  17450
6 3.40  8.5 110 5500 19  25  15250

#### Haz un sumario del dataframe.

In [2]:
summary(df)

       V1                V2               V3           V4          V5
 Min.   :-2.0000   Min.   : 65   toyota    : 32   diesel: 20   std  :168
 1st Qu.: 0.0000   1st Qu.: 94   nissan    : 18   gas   :185   turbo: 37
 Median : 1.0000   Median :115   mazda     : 17
 Mean   : 0.8341   Mean   :122   honda     : 13
 3rd Qu.: 2.0000   3rd Qu.:150   mitsubishi: 13
 Max.   : 3.0000   Max.   :256   subaru    : 12
                   NA's   :41    (Other)   :100
    V6                V7       V8          V9           V10
 four:114   convertible: 6   4wd:  9   front:202   Min.   : 86.60
 two : 89   hardtop    : 8   fwd:120   rear :  3   1st Qu.: 94.50
 NA's:  2   hatchback  :70   rwd: 76               Median : 97.00
            sedan      :96                         Mean   : 98.76
            wagon      :25                         3rd Qu.:102.40
                                                   Max.   :120.90

      V11             V12             V13             V14          V15
 Min.   :141.1   Min.   :60.30   Min.   :47.80   Min.   :1488   dohc : 12
 1st Qu.:166.3   1st Qu.:64.10   1st Qu.:52.00   1st Qu.:2145   dohcv:  1
 Median :173.2   Median :65.50   Median :54.10   Median :2414   l    : 12
 Mean   :174.0   Mean   :65.91   Mean   :53.72   Mean   :2556   ohc  :148
 3rd Qu.:183.1   3rd Qu.:66.90   3rd Qu.:55.50   3rd Qu.:2935   ohcf : 15
 Max.   :208.1   Max.   :72.30   Max.   :59.80   Max.   :4066   ohcv : 13
                                                                rotor:  4
     V16           V17             V18          V19            V20
 eight :  5   Min.   : 61.0   mpfi   :94   Min.   :2.54   Min.   :2.070
 five  : 11   1st Qu.: 97.0   2bbl   :66   1st Qu.:3.15   1st Qu.:3.110
 four  :159   Median :120.0   idi    :20   Median :3.31   Median :3.290
 six   : 24   Mean   :126.9   1bbl   :11   Mean   :3.33   Mean   :3.255
 three :  1   3rd Qu.:141.0   spdi   : 9   3rd Qu.:3.59   3rd Qu.:3.410
 twelve:  1   Max.   :326.0   4bbl   : 3   Max.   :3.94   Max.   :4.170
 two   :  4                   (Other): 2   NA's   :4      NA's   :4
      V21             V22             V23            V24             V25
 Min.   : 7.00   Min.   : 48.0   Min.   :4150   Min.   :13.00   Min.   :16.00
 1st Qu.: 8.60   1st Qu.: 70.0   1st Qu.:4800   1st Qu.:19.00   1st Qu.:25.00
 Median : 9.00   Median : 95.0   Median :5200   Median :24.00   Median :30.00
 Mean   :10.14   Mean   :104.3   Mean   :5125   Mean   :25.22   Mean   :30.75
 3rd Qu.: 9.40   3rd Qu.:116.0   3rd Qu.:5500   3rd Qu.:30.00   3rd Qu.:34.00
 Max.   :23.00   Max.   :288.0   Max.   :6600   Max.   :49.00   Max.   :54.00
                 NA's   :2       NA's   :2
      V26
 Min.   : 5118
 1st Qu.: 7775
 Median :10295
 Mean   :13207
 3rd Qu.:16500
 Max.   :45400
 NA's   :4

#### ¿Qué dimensión tiene el dataframe?

In [3]:
dim(df)

[1] 205  26

#### Inspecciona los datos, ¿de qué clase es cada tipo? Extrae los distintos valores que toman los factores.

In [4]:
sapply(df, class)

       V1        V2        V3        V4        V5        V6        V7        V8
"integer" "integer"  "factor"  "factor"  "factor"  "factor"  "factor"  "factor"
       V9       V10       V11       V12       V13       V14       V15       V16
 "factor" "numeric" "numeric" "numeric" "numeric" "integer"  "factor"  "factor"
      V17       V18       V19       V20       V21       V22       V23       V24
"integer"  "factor" "numeric" "numeric" "numeric" "integer" "integer" "integer"
      V25       V26
"integer" "integer"

In [5]:
for (col in colnames(df[sapply(df, is.factor)])){
    print(unique(df[col]))
}

               V3
1     alfa-romero
4            audi
11            bmw
19      chevrolet
22          dodge
31          honda
44          isuzu
48         jaguar
51          mazda
68  mercedes-benz
76        mercury
77     mitsubishi
90         nissan
108        peugot
119      plymouth
126       porsche
131       renault
133          saab
139        subaru
151        toyota
183    volkswagen
195         volvo
       V4
1     gas
64 diesel
     V5
1   std
9 turbo
     V6
1   two
4  four
28 <NA>
            V7
1  convertible
3    hatchback
4        sedan
8        wagon
70     hardtop
   V8
1 rwd
4 fwd
5 4wd
       V9
1   front
127  rear
      V15
1    dohc
3    ohcv
4     ohc
19      l
56  rotor
127  ohcf
130 dohcv
      V16
1    four
3     six
5    five
19  three
50 twelve
56    two
72  eight
    V18
1  mpfi
19 2bbl
30  mfi
31 1bbl
47 spfi
56 4bbl
64  idi
80 spdi

#### Indica la proporción de  valores faltantes por columna usando sum e is.na y un apply (usa nrow).

In [6]:
apply(is.na(df), 2, sum) / nrow(df) * 100

        V1         V2         V3         V4         V5         V6         V7
 0.0000000 20.0000000  0.0000000  0.0000000  0.0000000  0.9756098  0.0000000
        V8         V9        V10        V11        V12        V13        V14
 0.0000000  0.0000000  0.0000000  0.0000000  0.0000000  0.0000000  0.0000000
       V15        V16        V17        V18        V19        V20        V21
 0.0000000  0.0000000  0.0000000  0.0000000  1.9512195  1.9512195  0.0000000
       V22        V23        V24        V25        V26
 0.9756098  0.9756098  0.0000000  0.0000000  1.9512195

#### Edita la primera columna llevándola al rango 0-5.

In [7]:
range(df[1])

[1] -2  3

In [8]:
df[1] <- df[1] + 2

In [9]:
range(df[1])

[1] 0 5

#### Da una media de los valores de la primera columna respecto a la columna de número de puertas del coche.

In [11]:
head(df)

  V1 V2  V3          V4  V5  V6   V7          V8  V9    V10  ⋯ V17 V18  V19
1 5   NA alfa-romero gas std two  convertible rwd front 88.6 ⋯ 130 mpfi 3.47
2 5   NA alfa-romero gas std two  convertible rwd front 88.6 ⋯ 130 mpfi 3.47
3 3   NA alfa-romero gas std two  hatchback   rwd front 94.5 ⋯ 152 mpfi 2.68
4 4  164 audi        gas std four sedan       fwd front 99.8 ⋯ 109 mpfi 3.19
5 4  164 audi        gas std four sedan       4wd front 99.4 ⋯ 136 mpfi 3.19
6 4   NA audi        gas std two  sedan       fwd front 99.8 ⋯ 136 mpfi 3.19
  V20  V21  V22 V23  V24 V25 V26
1 2.68  9.0 111 5000 21  27  13495
2 2.68  9.0 111 5000 21  27  16500
3 3.47  9.0 154 5000 19  26  16500
4 3.40 10.0 102 5500 24  30  13950
5 3.40  8.0 115 5500 18  22  17450
6 3.40  8.5 110 5500 19  25  15250

In [33]:
tapply(df$'V1', df$'V6', mean)

     four       two
0.1052632 1.7752809

#### Extrae los coches audi que son cuatro puertas con valor V13 menor que 55.

In [34]:
df[df$'V3' == 'audi' & df$'V6' == 'four' & df$'V13' < 55,]

  V1 V2  V3   V4  V5  V6   V7    V8  V9    V10  ⋯ V17 V18  V19  V20 V21 V22
4 2  164 audi gas std four sedan fwd front 99.8 ⋯ 109 mpfi 3.19 3.4 10  102
5 2  164 audi gas std four sedan 4wd front 99.4 ⋯ 136 mpfi 3.19 3.4  8  115
  V23  V24 V25 V26
4 5500 24  30  13950
5 5500 18  22  17450