Crea un dataframe a partir de los vectores

X <- c(1,2,3,1,4,5,2)

Y <- c(0,3,2,0,5,9,3)
- 1) Elimina los duplicados usando una función de R adecuada . Mirar help(unique)
- 2) Pon nombre a las filas con nombres "CA","SE","MA","BA","VA"
- 3) Crea una nueva columna Z que sea la suma de las dos primeras dividida por la primera
- 4) Cambia el valor X de la provicincia BA por 2
- 5) Selecciona aquellas provincias cuyo valor Y sea menor que 4
- 6) Crea un factor que indique si es costera o no la ciudad (C ó I) y añádelo como columna

In [45]:
x <- c(1,2,3,1,4,5,2)
y <- c(0,3,2,0,5,9,3)
df <- data.frame(x, y)
df

  x y
1 1 0
2 2 3
3 3 2
4 1 0
5 4 5
6 5 9
7 2 3

#### 1. Elimina los duplicados usando una función de R adecuada . Mirar help(unique)

In [46]:
df <- unique(df)
df

  x y
1 1 0
2 2 3
3 3 2
5 4 5
6 5 9

#### 2. Pon nombre a las filas con nombres "CA","SE","MA","BA","VA"

In [47]:
row_names <- c("CA","SE","MA","BA","VA")
row.names(df) <- row_names
df

   x y
CA 1 0
SE 2 3
MA 3 2
BA 4 5
VA 5 9

#### 3. Crea una nueva columna Z que sea la suma de las dos primeras dividida por la primera

In [48]:
df$z <- (df$x + df$y) / df$x
df

   x y z
CA 1 0 1.000000
SE 2 3 2.500000
MA 3 2 1.666667
BA 4 5 2.250000
VA 5 9 2.800000

#### 4. Cambia el valor X de la provicincia BA por 2

In [49]:
df["BA", "x"] <- 2
df

   x y z
CA 1 0 1.000000
SE 2 3 2.500000
MA 3 2 1.666667
BA 2 5 2.250000
VA 5 9 2.800000

#### 5. Selecciona aquellas provincias cuyo valor Y sea menor que 4

In [50]:
row.names(df[df["y"] < 4,])

[1] "CA" "SE" "MA"

#### 6. Crea un factor que indique si es costera o no la ciudad (C ó I) y añádelo como columna

In [52]:
df$cost <- factor(c("C","I","I","C","C"))
df

   x y z        cost
CA 1 0 1.000000 C
SE 2 3 2.500000 I
MA 3 2 1.666667 I
BA 2 5 2.250000 C
VA 5 9 2.800000 C