In [1]:
import pandas as pd
import numpy as np

In [11]:
# 1
men_salary = pd.Series(
    [2500, 1800, 1900, 2000, 2100],
    index=["Euskadi", "Murcia", "Madrid", "Barcelona", "Zaragoza"])
women_salary = pd.Series(
    [2300, 1600, 1980, 1900, 2150],
    index=["Euskadi", "Murcia", "Madrid", "Barcelona", "Córdoba"])
print('Men salaries:\n{}\n'.format(men_salary))
print('Women salaries:\n{}'.format(women_salary))

Men salaries:
Euskadi      2500
Murcia       1800
Madrid       1900
Barcelona    2000
Zaragoza     2100
dtype: int64

Women salaries:
Euskadi      2300
Murcia       1600
Madrid       1980
Barcelona    1900
Córdoba      2150
dtype: int64

In [13]:
# 2
difference_btw_salaries = men_salary - women_salary
difference_btw_salaries

Barcelona    100.0
Córdoba        NaN
Euskadi      200.0
Madrid       -80.0
Murcia       200.0
Zaragoza       NaN
dtype: float64

In [25]:
# 3
difference_btw_salaries[difference_btw_salaries > 100]

Euskadi    200.0
Murcia     200.0
dtype: float64